body{
	margin: 20px auto;
	text-align:center;
}

h1{
	font-size: 18;
}

hr{
	width: 100%;
	clear: both;
}

.topmenu{
	width: 100%;
	font-size: 18;
	text-align: center;
}

.topmenu i{
	width: 38px;
	margin-right: 12px;
}

.pitem{
	width: 100%;
	line-height: 26px;
	text-align: left;
	vertical-align: middle;
	font-size: 24px;
}

.pitem a{
	width: 100%;
	margin-left: 10px;
	display: block;
}

video{
	width:640px;
}

.videoDiv{
	width: 100%;
	font-size: 16;
	padding-left: 10px;
}

.videoDiv img{
	width: 35%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.videoDiv li{
	line-height: 42px;
	width: 100%;
	text-align: left;
}